<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Movie Shop</span>
        <a class="nav-link dropdown-toggle" href="#" id="navbarGenreLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            GENRES
        </a>
        <a class="nav-link dropdown-toggle justify-content-end" href="#" id="navbarUserMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Name
        </a>
    </div>
</nav>
<div class="container">
    <div class="row"
    style="background:transparent url('https:\/\/image.tmdb.org\/t\/p\/original\/\/s3TBrRGB1iav7gFOCNx3H31MoES.jpg') no-repeat center center /cover"">
        <div class="col-4">
      Column
        </div>
        <div class="col-6">
      Column
        </div>
        <div class="col">
      Column
        </div>
    </div>
    <div class="row">
        <div class="col-5">column</div>
        <div class="col">column</div>
    </div>
</div>
